<div class="part-header">
  <header class="sheet-header">
    <input type="text" name="name" value="{{actor.name}}" placeholder="Character Name" class="char-name">
  </header>

  <div class="background-section">
    <div class="section-header">
      <h3>Background</h3>
    </div>
    {{#if background}}
    <div class="background-filled">
      <span class="background-text">{{background}}</span>
      <button type="button" class="ctrl-btn" data-action="editBackground" title="Edit Background"><i class="fa-solid fa-pen-to-square"></i></button>
    </div>
    {{else}}
    <div class="background-empty">
      <button type="button" class="background-add-btn" data-action="editBackground">Add Background</button>
    </div>
    {{/if}}
  </div>
</div>
