<nav class="sheet-tabs">
  <button type="button" class="sheet-tab {{#if (eq activeTab 'sheet')}}active{{/if}}" data-action="switchTab" data-tab="sheet">Sheet</button>
  <button type="button" class="sheet-tab {{#if (eq activeTab 'notes')}}active{{/if}}" data-action="switchTab" data-tab="notes">Notes</button>
</nav>
